name: Build package

on:
  push:
    paths:
      - src/**
      - pyproject.toml
      - uv.lock
  workflow_dispatch:
    inputs:
      can_publish:
        description: Publish to PyPI
        type: boolean
        required: true
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.11'
          enable-cache: true
      - run: uv build
      - uses: actions/upload-artifact@v6
        with:
          name: dist-${{ runner.os }}
          path: dist/

  publish:
    if: ${{ inputs.can_publish }}
    environment: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - build

    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: dist-*
          path: dist/
          merge-multiple: true
      - uses: pypa/gh-action-pypi-publish@v1.13.0
