name: Lint with Pyright

on:
  push:
    paths:
      - '**.py'
      - pyproject.toml
      - uv.lock
  pull_request:
    paths:
      - '**.py'
      - pyproject.toml
      - uv.lock

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.11'
          enable-cache: true
      - run: uv sync --locked --all-extras --dev
      - run: uv pip install pyright
      - run: uv run -m pyright
