name: Format with Ruff

on:
  push:
    paths:
      - '**.py'
      - pyproject.toml
      - uv.lock
  pull_request:
    paths:
      - '**.py'
      - pyproject.toml
      - uv.lock

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          args: format --check --diff
